extends layout

block content
    br
    form(name='input', action='setDevice', method='POST')
        .panel.panel-default
            .panel-heading sensors
            .panel-body
                p Only data from the selected sensors will be broadcast to the hub.
                - if (Object.keys(local.seenDevices).length > 0) {
                    p The following sensors are in range.
                - } else {
                    p No sensors found.
                - }
                a.btn.btn-default.pull-right(href="/changeDevice") refresh
            ul.list-group
                - for (var d in local.seenDevices) {
                    li.list-group-item
                        div.radio
                            label
                                - if (local.monitorDevices.hasOwnProperty(d)) {
                                    input(id="deviceName-#{d}", type="text", value="#{local.monitorDevices[d].name ? local.monitorDevices[d].name : fs20Config[d[0]].parameters.name}", name="deviceName-#{d}", style="margin-right: 20px;")
                                    input(id="device-#{d}", type='checkbox', value='#{d}', name='device-#{d}',checked)
                                    | #{d}
                                - } else {
                                    input(id="deviceName-#{d}", type="text", value="#{fs20Config[d[0]].parameters.name}", name="deviceName-#{d}", style="margin-right: 20px;")
                                    input(id="device-#{d}", type='checkbox', value='#{d}', name='device-#{d}')
                                    | #{d}
                                - }
                - }
            .panel-footer
                button.btn.btn-default set sensors
